.banner-section {
    height: 300px;
    width: 100%;

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 70px;
        .line {
            z-index: 10;
            color: #fff;
            mix-blend-mode: difference;
            position: relative;
            overflow: hidden;
            span {
                line-height: 3rem;
                font-size: 31px;
                font-weight: 700;
            }
        }
    }
}
