.banner-section {
    height: 300px;
    width: 100%;

    .col {
        background: #fff;
        h2 {
            text-align: center;
            font-size: 2rem;
            line-height: 4.2rem;
            font-weight: 700;
            color: #fff;
            .line {
                margin-bottom: 8px;
                height: 56px;
                position: relative;
                overflow: hidden;
                span {
                    position: absolute;
                    z-index: 1000;
                    mix-blend-mode: difference;
                }
            }
        }
    }
}
