.empty {
    text-align: center;
    font-size: 20px;
    padding-top: 150px;
}
.amt {
    display: flex;
    justify-content: flex-end;
    margin: 20px 130px;
    .total {
        color: #000;
    }
    .total-amt {
        font-size: 20px;
        font-weight: 700;
        color: green;
    }
}

.cart-info {
    overflow: hidden;
    .row {
        justify-content: space-around;
    }
    .title {
        letter-spacing: 2px;
        font-size: 21px;
    }
}
.btn-del {
    margin-top: 30px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.3s;
    &:hover {
        background-color: red;
        color: white;
    }
}
.btn-order {
    margin-top: 30px;
    border: 1px solid rgb(224, 212, 37);
    border-radius: 5px;
    background-color: white;
    width: 350px;
    height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 0.3s;
    &:hover {
        background-color: rgb(224, 212, 37);
        color: white;
    }
}
.order {
    margin: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
