.empty {
    text-align: center;
    font-size: 20px;
    padding-top: 150px;
}
.amt {
    display: flex;
    justify-content: flex-end;
    margin: 20px 130px;
    .total {
        color: #000;
    }
    .total-amt {
        font-size: 20px;
        font-weight: 700;
        color: green;
    }
}

.cart-info {
    .row {
        justify-content: space-around;
    }
    .title {
        letter-spacing: 2px;
        font-size: 21px;
    }
}
.btn-del {
    margin-top: 30px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.3s;
    &:hover {
        background-color: red;
        color: white;
    }
}
